@mixin btn($radius){
	// background-color: #CCC;
	width: 200px;
	height: 50px;
	// background-color: #ccc;
	border: 0;
	border-radius: $radius;
	font-size: 32px;
	color: #FFF;
}

.firstbtn {
	@include btn(200px);
	background-color: blue;
}

.secondbtn {
	@include btn(100px);
	background-color: green;
}